<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %} - El Democrata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--<div class="head">
        <div class="">
            <h1>El Democrata</h1>
        </div>
        <div>
            {% if g.user %}
            <span>{{ g.user['username'] }}</span>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            {% else %}
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
            {% endif %}
            </ul>
        </div>
    </div>
-->
    <div class="header">
        <div class="titulo">
            {% block header %}{% endblock %}
        </div>
        <div>
            {% if g.user %}
            <span>{{ g.user['username'] }}</span>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            {% else %}
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
            {% endif %}
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>