{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Notas{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="show" id="registro" style="display:none !important;">
        <form method="post">
            <div class="renglon">
                <label for="titulo">Titulo</label>
                <input name="titulo" id="titulo" required />
                <label for="subtitulo">Subtitulo</label>
                <input name="subtitulo" id="subtitulo" required />
            </div>
            <div class="renglon">
                <label for="imagen">Link imagen</label>
                <input name="imagen" id="imagen" required />
                <label for="categoria">categoria</label>
                <select name="categoria" id="categoria" required>
                    <option value="" disabled selected>Selecionar</option>
                    {% for category in categorys %}
                    <option value="{{ category['id_category'] }}">{{ category['description'] }}</option>
                    {% endfor %}
                </select>
                <label for="estado">Estado</label>
                <select name="estado" id="estado" required>
                    <option value="" disabled selected>Selecionar</option>
                    <option value="0">Oculto</option>
                    <option value="1">Visible</option>
                </select>
            </div>
            <div class="renglon">
                <label for="video">Link video</label>
                <input name="video" id="video">
                <label for="posicion">Despues del parrafo ...</label>
                <input name="posicion" id="posicion" value="0" required>
            </div>
            <div class="renglon">
                <label for="parrafo1">Parrafo 1</label>
                <textarea name="parrafo1" id="parrafo1" cols="100" rows="3" required></textarea>
            </div>
            <div class="renglon">
                <label for="parrafo2">Parrafo 2</label>
                <textarea name="parrafo2" id="parrafo2" cols="100" rows="3"></textarea>
            </div>
            <div class="renglon">
                <label for="parrafo3">Parrafo 3</label>
                <textarea name="parrafo3" id="parrafo3" cols="100" rows="3"></textarea>
            </div>
            <div class="renglon">
                <label for="parrafo4">Parrafo 4</label>
                <textarea name="parrafo4" id="parrafo4" cols="100" rows="3"></textarea>
            </div>
            <div class="renglon">
                <label for="parrafo5">Parrafo 5</label>
                <textarea name="parrafo5" id="parrafo5" cols="100" rows="3"></textarea>
            </div>
            <div class="renglon">
                <label for="parrafo6">Parrafo 6</label>
                <textarea name="parrafo6" id="parrafo6" cols="100" rows="3"></textarea>
            </div>
            <div class="renglon-boton">
                <input class="botonVerde" type="submit" value="Subir Nota" />
            </div>
        </form>
    </div>

    <div class="show" id="tabla">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th style="text-align: center;">Categoria</th>
                    <th style="text-align: center;">Titulo</th>
                    <th style="text-align: center;">Estado</th>
                </tr>
            </thead>
            {% for new in news %}
            <tr>
                <td class="center">
                    <a class="boton-editar" href="{{ url_for('editar', idnew=new['id_news']) }}">{{ new['id_news'] }}</a>
                </td>
                <td>
                    {{ new['description'] }}
                </td>
                <td>
                    {{ new['title'] }}
                </td>
                <td style="text-align: center;">
                    {{ new['status'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="show" id="usuarios" style="display:none !important;">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Username</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td class="center"><a class="boton-editar" href="{{ url_for('users', id=user['id']) }}">{{ user['id'] }}</a></td>
                <td>{{ user['username'] }}</td>
                <td>{{ user['name'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

<script>
    function OculatarMostrar(valor) {
        switch (valor) {
            case "tabla":
                document.getElementById(valor).style.display = "block";
                document.getElementById("registro").style.display = "none";
                document.getElementById("usuarios").style.display = "none";
            break;
            case "registro":
                document.getElementById(valor).style.display = "block";
                document.getElementById("tabla").style.display = "none";
                document.getElementById("usuarios").style.display = "none";
            break;
            case "usuarios":
                document.getElementById(valor).style.display = "block";
                document.getElementById("tabla").style.display = "none";
                document.getElementById("registro").style.display = "none";
            break;
        }
    }
</script>
{% endblock %}