{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Notas{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="titulo">Titulo</label>
        <input name="titulo" id="titulo" required />
        <label for="imagen">link imagen</label>
        <input name="imagen" id="imagen" required />
        <label for="categoria">categoria</label>
        <input name="categoria" id="categoria" required />
        <br>
        <label for="parrafo1">Parrafo</label>
        <textarea name="parrafo1" id="parrafo1" required ></textarea>
        <br>
        <label for="parrafo2">Parrafo</label>
        <textarea name="parrafo2" id="parrafo2"></textarea>
        <br>
        <label for="parrafo3">Parrafo</label>
        <textarea name="parrafo3" id="parrafo3"></textarea>
        <br>
        <label for="parrafo4">Parrafo</label>
        <textarea name="parrafo4" id="parrafo4"></textarea>
        <br>
        <label for="parrafo5">Parrafo</label>
        <textarea name="parrafo5" id="parrafo5"></textarea>
        <br>
        <label for="parrafo6">Parrafo</label>
        <textarea name="parrafo6" id="parrafo6"></textarea>
        <br>
        <input type="submit" value="subir"/>
    </form>

    <table>
        {% for new in news %}
        <tr>
            <td>
                <a href="{{ url_for('editar', idnew=new['id_news']) }}">{{ new['id_news'] }}</a>
            </td>
            <td>
                {{ new['description'] }}
            </td> 
            <td>
                {{ new['title'] }}
            </td>
            <td>
                {{ new['status'] }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}