{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Iniciar sesión{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="center">
    <div class="login">
        <form method="post">
            <div class="renglon">
                <label for="username">Usuario</label>
                <input name="username" id="username" required />
            </div>  
            <div class="renglon">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" required />
            </div>
            <div class="renglon-boton">
                <input class="botonVerde" type="submit" value="Iniciar sesión" />
            </div>
        </form>
    </div>
</div>
{% endblock %}