{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Usuarios{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="">
    <form method="post">
        <div class="renglon">
            <label for="ids">Id</label>
            <input id="ids" type="text" name="ids" value="{{ user['id'] }}" disabled required>
        </div>
        <div class="renglon">
            <label for="UserName">Nombre de Usuario</label>
            <input id="userName" type="text" name="userName" value="{{ user['username'] }}" required>
        </div>
        <div class="renglon">
            <label for="Name">Nombre</label>
            <input id="name" type="text" name="name" value="{{ user['name'] }}" required>
        </div>
        <div class="renglon">
            <label for="password">Contraseña</label>
            <input id="password" type="password" name="password" required>
        </div>
        <div class="renglon-boton">
            <input class="botonVerde" type="submit" value="Actualizar">
        </div>
    </form>
</div>
{% endblock %}